/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* background-color: coral; */
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #f5f5f5;
  height: 100vh;
}
header{
  background-color: #3a0cf4;
  color: white;
}
         /* navigation bar */
nav{
  float: right;
}
.logo{
  margin: 20px 0px 0px 70px;
  height: 40px;
}
.nav-item{
  margin: 10px 20px;
}
.nav-item-active{
  width: 100px;
  background-color: white;
  padding: 5px;
  color: #5a31fc;
  font-weight: 400;
  border-radius: 5px;
}
.header-text img{
  margin-top: 70px;
  margin-left: 70px;
}
h2{
  font-size: 50px;
  margin-left: 70px;
  
}
.header-text p{
  margin-top: 10px;
  margin-left: 70px;
  padding-bottom: 70px;
}
.header-image{
  float: right;
  position: absolute;
  right: 0px;
  top: 70px;
  height:400px;
  margin-left: 70px;
}
.companies{
  margin-left: 20px;
  margin-bottom: 40px;
}
.company-items{
  margin: 10px 50px 0px 70px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 800;
  color: black;
}
.api{
  margin-left: 70px;
  /* background-color: rgb(234, 229, 229); */
}
.cards{
  display: flex;
  /* margin-left: 20px; */
  margin-top: 20px;
  
  /* flex: 15%; */
  /* justify-content: space-between; */
  margin-right: 30px;
  ;
 

}
.card{
  height: 220px;
  /* background-color: white; */
  /* width: 15%; */
  margin-left: 50px;
}
.card-active{
  /* width: 15%; */
  background-color: white;
 
  padding: 10px 10px;
  height: 220px;
  border-radius: 10px;
  margin-right: 20px;
}
.card-logo{
  margin: 10px 0;
}
.card-head{
  margin: 10px 0;
}
.card-head-active{
  color: blue;
  /* margin: 10px 0; */
}
.card-body{
  font-style: 10px;
  margin: 10px 0;
}
.blog-heading{
  margin-left:90px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.blog-cards{
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}
.blog-image img{
  width: 300px;
}
.blog-card{
  display: flex;
  flex-direction: row;
}
.blog-content{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20px;
}
.blog-content h3{
  margin-bottom: 20px;
  margin-top: 20px;
}
.blog-content small{
  margin-top: 20px;
}
.blog-content h6{
  margin-bottom: 15px;
}
.blog-bottom{
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  left: 32%;
  top: 1270px;
}
.blog-bottom2{
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  left: 81%;
  top: 1270px;
}
.blog-author1{
  position: absolute;
  left: 36.5%;
  top: 1280px;
}
.blog-author2{
  position: absolute;
  left: 85.5%;
  top: 1280px;
}
.faq-section{
  /*  */
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: grey;
  
}
.faq-section h2{
  margin-left: 60px;
  line-height: 50px;
}
.faq-section h4{
  margin-left: 60px;
  margin-top: 20px;
}
.faq-section .h4{
  margin-top: 50px;
  margin-left: 60px;
}
.faq-section button{
  margin-left: 60px;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
  /* height: 15px; */
  text-align: center;
  background-color: darkblue;
  color: #f5f5f5;
  border:none;
  
}
.faq-image img{
  /* height: 400px; */
  margin-bottom: 0px;
  height:max-content;
 
}
.download-section{
  display: flex;
  margin:  70px 0px ; 
  /* justify-content: space-between; */
}
.download-content h1{
  margin-left: 60px;
  font-weight:bolder;
  font-family: Poppins;
}
.download-content span{
  font-weight:50;
}
.download-email input{
  margin-left: 550px;
  margin-right: 200px;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(203, 224, 237,0.5);
  border: none;
}
.download-email button{
  width: 150px;
  height: 33px;
  border-radius: 20px;
  border: none;
  background-color: rgb(25, 25, 200);
  position: absolute;
  right: 210px;
  margin-top: 3px;
  color: white;
}
.footer-section{
  display: flex;
  background-color: #5a31fc;
  justify-content: space-between;
}
.footer-left{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.list{
  display: flex;
  margin-top: 20px;
}
.list-items
{
  list-style-type: none;
  margin-right: 30px;
 
}
.logos-list{
  display: flex;
  font: sans-serif;
  /* justify-content: space-between; 
  */
  
}
.footer-logos{
  margin-left: 20px;
  margin-bottom: 20px;
}
.footer-right{
  margin-top: 30px;
  margin-bottom: 20px;
}
.line1{
  border-left: 2px solid rgb(249, 247, 247);
  height: 13px;
  position:absolute;
  left: 17.2%;
  top: 273.5%;
}
.line2{
  border-left: 2px solid rgb(249, 247, 247);
  height: 13px;
  position:absolute;
  left: 21.2%;
  top: 273.5%;
}
.line3{
  border-left: 2px solid rgb(249, 247, 247);
  height: 13px;
  position:absolute;
  left: 26.2%;
  top: 273.5%;
}
.line4{
  border-left: 2px solid rgb(249, 247, 247);
  height: 13px;
  position:absolute;
  left: 62.2%;
  top: 272.5%;
  z-index: 1; 
}
/* .line5{
  border-left: 2px solid rgb(249, 247, 247);
  height: 13px;
  position:absolute;
  right: 43.2%;
  top: 273.5%;
  z-index: 1;
} * /
         /*             Media Quries */
@media screen and (max-width:768px) {
  .header-image{
    display: none;  }
  .header-text h2{
    font-size: 30px;
  }  
  .company-items{
    margin: 10px 10px 0px 10px;
    text-align: center;
  }
  .download-email input{
    display: none
  }
  .api{
    text-align: center;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog-cards{
    display: flex;
    flex-wrap: wrap;
  }
  .faq-section{
    display: flex;
    flex-wrap: wrap;
  }
  .faq-image img{
    display: none;
  }
  .download-email button{
    right: 10px;
  }
  .footer-logos{
    margin-left: 10px;
  }
  .list-items{
    margin-right: 5px;
  }
  .blog-author1,.blog-author2,.blog-bottom,.blog-bottom2{
    display: none;
  }
  .faq-content button{
    margin: 10px 40%;
  }
  .dn{
    display: none;
  }
  
}         